/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

/* Camera View */
.camera-view {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* AR Scene */
a-scene {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

/* Controls */
.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  z-index: 999;
}

.control-options, .sliders {
  margin-top: 10px;
}

.control-options img, .sliders img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.control-options img:hover, .sliders img:hover {
  transform: scale(1.1);
}

.sliders label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.sliders input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.sliders input[type="range"]:hover {
  opacity: 1;
}

.sliders input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007BFF;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.sliders input[type="range"]::-webkit-slider-thumb:hover {
  background: #0056b3;
}

.sliders input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007BFF;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.sliders input[type="range"]::-moz-range-thumb:hover {
  background: #0056b3;
}

/* Hidden Elements */
.hidden {
  display: none;
}

#reset-btn {
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #dc3545; /* Red background for reset button */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#reset-btn:hover {
  background-color: #c82333; /* Darker red on hover */
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(248, 57, 9, 0.6);
}

#fix-btn {
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #28a745; /* Green background for fix button */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#fix-btn:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(33, 136, 56, 0.6);
}
